.country {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.flag {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}
