.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  height: calc(100vh - 60px);
  max-width: calc(320px - 60px);
  width: 100%;
  background-color: #1e1e1e;
  gap: 10%;
}

@media screen and (max-width: 1120px) {
  .sidebar {
    order: 3;
    width: 100%;
    max-width: unset;
    height: unset;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 30px 0;
  }
}

@media screen and (max-width: 560px) {
  .sidebar {
    flex-direction: column;
  }
}
