.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  width: 300px;
  height: calc(100vh - 60px);
  background-color: #1e1e1e;
}

.datePicker {
  display: flex;
  width: 300px;
  height: 250px;
}
