.countriesList,
.list {
  display: flex;
  flex-direction: column;
}

.countriesList {
  justify-self: flex-end;
  gap: 30px;
}

.list {
  max-height: 400px;
  overflow-y: scroll;
  gap: 20px;
  padding-right: 10px;
}

.list::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #262626;
  border-radius: 5px;
}

.list::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.loadBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.loadBtn button {
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 10px;
  background: #23994b;
  box-shadow: 0px 0px 9px #23994b;
}

.loadBtn:hover {
  transform: scale(1.03);
}
