.countriesList,
.list {
  display: flex;
  flex-direction: column;
}

.countriesList {
  max-width: 280px;
  width: 100%;
  justify-self: flex-end;
  gap: 30px;
}

.list {
  max-height: 260px;
  overflow: hidden;
  overflow-y: scroll;
  gap: 20px;
  padding-right: 10px;
}

.list::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #262626;
  border-radius: 5px;
}

.list::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
